<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
      body {background: linear-gradient(45deg, greenyellow, dodgerblue);margin: 0;padding: 0;height:100%;background-repeat: no-repeat;}
      h1   {color: blue;}
      p    {color: red;}
      .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
          color: aliceblue;
      }
      @media (max-width:992px){
        body{
          background: linear-gradient(45deg, greenyellow, dodgerblue);
          /* width: 100%; */
          margin: 0;
          padding: 0;
          height: 100%;
          background-repeat: no-repeat;
          overflow: scroll;
        }
      }
    </style>
  </head>
  <body class="mx-auto">
    <nav class="navbar navbar-light bg-light navbar-right navbar-expand-lg">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/renderApplicationPage">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/previousReports">Previous reports<span class="sr-only">(current)</span></a>
        </li>
      </ul>
  
      <a class="btn btn-danger m-1 float-right" href="/logout">Logout</a>
    </nav>
    <div class="container" style="width: 80%; margin-top:2%;">
      <!--  <div class="container">
            <a class="btn btn-primary float-right m-4" href="/users">Users</a>
            
            <a class="btn btn-primary float-right m-4" href="/addUser">Add User</a>
        </div>
        <br>
        <br> -->
        <!-- <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Country</th>
              </tr>
            </thead>
            <tbody>
                <%
                if(userData.length!=0){
                var i=1;
                userData.forEach(function(data){
                %>
                <tr>
                    <td class="d-none"><%=data._id %></td>
                    <td><%=data.name %></td>
                    <td><%=data.lname %></td>
                    <td><%=data.email %></td>
                    <td><%=data.dob %></td>
                    <td><%=data.country %></td>
                    <td class="d-none"><a href="/edit/<%=data._id%>">Edit</a></td>
                    <td><a href="/deleteData/<%=data._id%>">Delete</a></td>
                </tr>
                <%  i++; }) %>
                <% } else{ %>
                    <tr>
                        <td colspan="7">No Data Found</td>
                    </tr>
                <% } %>
            </tbody>
          </table> -->
          <div class="table-md-responsive">
          <table id="table_id" class="display">
            <thead>
                <tr style="background-color: #fff;">
                  <th >First Name</th>
                  <th >Last Name</th>
                  <th >Email</th>
                  <th >Date of Birth</th>
                  <th >Country</th>
                  <th >Generated At</th>
                  <th >Open Report</th>
                </tr>
            </thead>
            
            <tbody>
              <%
                if(userData.length!=0){
                  var i=1;
                  userData.forEach(function(data){
                    %>
              <tr>
                <td><%=data.name %></td>
                <td><%=data.lname %></td>
                <td><%=data.email %></td>
                <td><%=data.dob %></td>
                <td><%=data.country %></td>
                <td><%=data.generatedAt %></td>
                <td><a href='/getReportPDF?fileName=<%=data.pdfName%>' target="_blank">Open Report</a></td>
                </tr>
                <%  i++; }) %>
                <% } else{ %>
                  <tr>
                    <td >No Data Found</td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script>
  $(document).ready( function () {
    $('#table_id').DataTable();
} );
</script>
   </body>
</html>
